### Java ###
*.class
bin

# Package Files #
*.jar
*.war
*.ear

### Gradle ###
# Exclude Folder List #
.gradle/
build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Eclipse ###
*.pydevproject
.project
.metadata
.recommenders
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

## VS Code ###
.vscode