.mat-form-field {
    width: 100%;
}

.docs-table {
    overflow-x: auto;
}

.mat-table {
    width: 100%;
    min-width: 532px;
}

.mat-row {
    cursor: pointer;
}

.mat-row:hover {
    background-color: #eee;
}