<div [hidden]="!docService.isAuthorized()" class="container app-container">
  <div class="row mt-4">
    <div class="col-12">
      <h2>Documents</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <mat-form-field class="w-100">
        <mat-select #filter [formControl]="authorControl" placeholder="Filter by Author"
          (selectionChange)="filterByAuthor()" disableOptionCentering>
          <mat-option>All</mat-option>
          <mat-option *ngFor="let author of authors" [value]="author.authorId">
            {{author.fullName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field class="w-100">
        <input #filter matInput [max]="maxDate" placeholder="Filter by Date Range" [satDatepicker]="picker"
          [formControl]="dateRange" (dateChange)=filterByDate() class="date-input" readonly (click)="picker.open()">
        <button *ngIf="dateRange.value" matTooltip="Clear" mat-button matSuffix mat-icon-button aria-label="Clear"
          (click)="filterByDate(true)">
          <mat-icon  >clear</mat-icon>
        </button>
        <sat-datepicker #picker [rangeMode]="true" orderPeriodLabel="month">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="5" showFirstLastButtons
        (page)="getDocumentsPage($event)"></mat-paginator>
    </div>

  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="mat-elevation-z8 docs-table">

        <mat-table [dataSource]="documents" matSort matSortActive="documentName" matSortDirection="asc"
          matSortDisableClear (matSortChange)=sortPage($event)>

          <!-- ID Column -->
          <ng-container matColumnDef="documentId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let doc">{{ doc.documentId }} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="documentName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let doc"> {{ doc.documentName }} </mat-cell>
          </ng-container>

          <!-- Author Column -->
          <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
            <mat-cell *matCellDef="let doc"> {{ doc.author.fullName }} </mat-cell>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="creationDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Creation date </mat-header-cell>
            <mat-cell *matCellDef="let doc"> {{ doc.creationDate | date: "yyyy-MM-dd HH:mm:ss" }} </mat-cell>
          </ng-container>

          <!-- Readonly Column -->
          <ng-container matColumnDef="readOnly">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Public </mat-header-cell>
            <mat-cell *matCellDef="let doc"><span class="pr-4">{{ doc.readOnly ? 'NO' : 'YES' }}</span></mat-cell>
          </ng-container>

          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="5">
              Loading data...
            </mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="5">
              No data
            </mat-footer-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let doc; columns: displayedColumns;" (click)="showDetails(doc.documentId)">
          </mat-row>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': isLoaded}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': isLoaded && documents.data.length != 0}">
          </mat-footer-row>
        </mat-table>

      </div>
    </div>
  </div>
</div>
<a *ngIf="docService.isAuthorized()" mat-fab routerLink="/add" color="primary" (click)="emptyStorage()"
  class="position-fixed fixed-bottom ml-auto mr-4 mb-4">
  <mat-icon aria-label="Add button">add</mat-icon>
</a>