.mat-form-field {
    width: 100%;
}

.docs-table {
    overflow-x: auto;
}

.mat-table {
    width: 100%;
    min-width: 532px;
}

.mat-row {
    cursor: pointer;
}

.mat-row:hover {
    background-color: #eee;
}

.mat-column-documentId {
    flex: 0 0 13%;
}

.mat-column-documentName {
    flex: 1 1 30%;
}

.mat-column-author {
    flex: 1 1 25%;
}

.mat-column-creationDate {
    flex: 0 1 15%;
}

.mat-column-readOnly {
    flex: 0 1 17%;
    justify-content: flex-end;
}
