/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.app-container {
    min-width: 326px;
}

.input-form {
    min-width: 296px;
}

.docs-table {
    overflow-x: auto;
}

.hide {
    display: none;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font: italic;
}