<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <h2>{{ pageTitle }}</h2>
      <hr>

      <form [formGroup]="documentForm" enctype="multipart/form-data" class="d-flex flex-column">
        <h4>{{ fileTitle }}</h4>

        <mat-form-field *ngIf='isEditing; else adding'>
          <ngx-mat-file-input #file formControlName="editFile" placeholder="Change attachment"></ngx-mat-file-input>
          <span matPrefix class="mr-4">{{ fileName }}</span>
          <button mat-icon-button matSuffix *ngIf="!file.empty" (click)="file.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>

        <ng-template #adding>
          <mat-form-field>
            <ngx-mat-file-input #file formControlName="newFile"></ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!file.empty" (click)="file.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        </ng-template>

        <h4>Description</h4>
        <mat-form-field>
          <textarea #description rows="5" matInput formControlName="description"></textarea>
        </mat-form-field>
        <h4>Author</h4>
        <mat-form-field>
          <input #author matInput formControlName="author" />
        </mat-form-field>
        <mat-checkbox #readonly formControlName="readonly" color="primary">Read Only</mat-checkbox>
      </form>

    </div>
  </div>

  <div class="row my-4">
    <div class="col-12">
      <button mat-raised-button color="primary" (click)="saveDoc(description.value, author.value, readonly.checked)"
        class="mr-3">Save Document</button>
      <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>