<div class="container app-container">
  <div class="row my-4">
    <div class="col-12 input-form">
      <h2>{{ pageTitle }}</h2>
      <hr>

      <form [formGroup]="documentForm" enctype="multipart/form-data" (ngSubmit)="saveDoc(description.value, author.value, readonly.checked)"
        class="d-flex flex-column">
        <h4>{{ fileTitle }}</h4>

        <div *ngIf='isEditing; else adding' class="d-flex flex-wrap">
          <div class="attached-file flex-fill">
            <mat-form-field *ngIf='isEditing' class="w-100">
              <input matInput disabled value="{{ fileName }}" class="mb-1">
              <mat-icon matPrefix class="mr-2">attachment</mat-icon>
            </mat-form-field>
          </div>

          <div class="attached-change flex-fill pl-md-4">
            <mat-form-field class="w-100">
              <ngx-mat-file-input #file formControlName="editFile" placeholder="Change attachment"></ngx-mat-file-input>
              <button mat-button mat-icon-button matSuffix *ngIf="!file.empty" (click)="file.clear($event)" aria-label="Clear" class="mr-2">
                <mat-icon>clear</mat-icon>
              </button>
              <mat-icon matSuffix>folder_open</mat-icon>
            </mat-form-field>
          </div>

        </div>


        <ng-template #adding>
          <mat-form-field>
            <ngx-mat-file-input #file formControlName="newFile" placeholder="Specify the document file" required></ngx-mat-file-input>
            <button mat-button mat-icon-button matSuffix *ngIf="!file.empty" (click)="file.clear($event)" aria-label="Clear" class="mr-2">
              <mat-icon>clear</mat-icon>
            </button>
            <mat-icon matSuffix>folder_open</mat-icon>
            <mat-error *ngIf="documentForm.get('newFile').hasError('required')">
              Please select a file
            </mat-error>
            <mat-error *ngIf="documentForm.get('newFile').hasError('maxContentSize')">
              The total size must not exceed {{ documentForm.get('newFile')?.getError('maxContentSize').maxSize |
              byteFormat }} (selected file is {{ documentForm.get('newFile')?.getError('maxContentSize').actualSize |
              byteFormat }}).
            </mat-error>
          </mat-form-field>
        </ng-template>

        <h4>Description</h4>
        <mat-form-field>
          <textarea #description rows="3" matInput formControlName="description" placeholder="Specify the document description"
            required></textarea>
        </mat-form-field>
        <h4>Author</h4>
        <mat-form-field>
          <input #author matInput formControlName="author" placeholder="Specify the document author" required>
        </mat-form-field>
        <mat-checkbox #readonly formControlName="readonly" color="primary">Read Only</mat-checkbox>

        <div class="d-flex mt-3">
          <button *ngIf="isEditing; else saveBtn" type="submit" [disabled]="documentForm.pristine || !description.value || !author.value"
            mat-raised-button color="primary" class="mr-3">Edit Document</button>
          <ng-template #saveBtn>
            <button type="submit" [disabled]="documentForm.invalid" mat-raised-button color="primary" class="mr-3">Save
              Document</button>
          </ng-template>
          <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>