<div class="container">
  <div class="row">
    <div class="col-12 mt-4">
      <h2>Details for document #{{ document.documentId }}</h2>
      <hr>
      <h4>Description</h4>
      <span class="text-warning" *ngIf="document.readOnly">Read Only</span>
      <p>{{ document.description }}</p>
      <h4>Document Name</h4>
      <p>{{ document.documentName }}</p>
      <h4>Document Type</h4>
      <p>{{ document.documentType }}</p>
      <h4>Created / Modified</h4>
      <p>{{ document.creationDate | date }}</p>
      <h4>Author</h4>
      <p>{{ document.author }}</p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
      <button mat-raised-button color="accent" (click)="editDocPage(document.documentId); saveDoc(document)" class="mx-3">Edit</button>
      <button mat-raised-button color="warn" (click)="deleteDoc()">Delete</button>
    </div>
  </div>
</div>